/* Write your CSS here */
.main-container {
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Roboto;
  align-items: center;
}

.btn {
  background-color: #007bff;
  color: #ffffff;
  border-width: 0;
  height: 30px;
  width: 80px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.btn-div {
}
.paragraph {
  color: #2d3a35;
}
.heading {
  color: #2d3a35;
}
.span-decor {
  color: #c20a72;
}
